*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
!/gradlew.bat
!/gradlew
/.idea/
/gradlew
/gradlew.bat
/gradle/wrapper/
/core/core-currency-picker/build/generated/source/buildConfig/dev/serg/chuprin/finances/core/currency_picker/
/core/core-currency-picker/build/
/feature/feature-data-report/build/.transforms/
/feature/feature-data-report/build/
